# Exercise 04

The answers of the following questions are the same as Exercise 03. Write your R codes in the cells provided and submit this file to moodle.

### Question 1 (20%)

Input the following dataset into R. Submit the data file of the dataframe.

Variable definitions:<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky" style="text-align:left">Full variable name</th>
    <th class="tg-0pky" style="text-align:left">R variable name   </th>
    <th class="tg-0pky" style="text-align:left">Coding instructions</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky" style="text-align:left">Identification number</td>
    <td class="tg-0pky" style="text-align:left">id</td>
    <td class="tg-0pky" style="text-align:left">Subject identification number   </td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">Gender</td>
    <td class="tg-0pky" style="text-align:left">gender</td>
    <td class="tg-0pky" style="text-align:left">1=male; 2=female</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">Faculty</td>
    <td class="tg-0pky" style="text-align:left">faculty</td>
    <td class="tg-0pky" style="text-align:left">1=Faculty of Arts</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left">2=School of Business</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left">3=School of Chinese Medicine</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left">4=School of Communication</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left">5=Faculty of Science</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left">6=Faculty of Social Sciences</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left"></td>
    <td class="tg-0lax" style="text-align:left">7=Academy of Visual Arts</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left">Weight before the first year</td>
    <td class="tg-0lax" style="text-align:left">weightBefore   </td>
    <td class="tg-0lax" style="text-align:left">The weight, in kg, of freshman before the first year study</td>
  </tr>
  <tr>
    <td class="tg-0lax" style="text-align:left">Weight after the first year</td>
    <td class="tg-0lax" style="text-align:left">weightAfter</td>
    <td class="tg-0lax" style="text-align:left">The weight, in kg, of freshman after the   first year study    </td>
  </tr>
</tbody>
</table>

Data:</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky" style="text-align:left">Identification number   </th>
    <th class="tg-0pky" style="text-align:left">Gender   </th>
    <th class="tg-0pky" style="text-align:left">Faculty</th>
    <th class="tg-0pky" style="text-align:left">Weight before the first year   </th>
    <th class="tg-0pky" style="text-align:left">Weight after the first year</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky" style="text-align:left">100</td>
    <td class="tg-0pky" style="text-align:left">Male</td>
    <td class="tg-0pky" style="text-align:left">School of Business   </td>
    <td class="tg-0pky" style="text-align:left">53.4</td>
    <td class="tg-0pky" style="text-align:left">55.4</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">101</td>
    <td class="tg-0pky" style="text-align:left">Female</td>
    <td class="tg-0pky" style="text-align:left">Faculty of Science</td>
    <td class="tg-0pky" style="text-align:left">75.2</td>
    <td class="tg-0pky" style="text-align:left">80.8</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">102</td>
    <td class="tg-0pky" style="text-align:left">Male</td>
    <td class="tg-0pky" style="text-align:left">Faculty of Social Sciences</td>
    <td class="tg-0pky" style="text-align:left">61.7</td>
    <td class="tg-0pky" style="text-align:left">59.4</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">103</td>
    <td class="tg-0pky" style="text-align:left">Male</td>
    <td class="tg-0pky" style="text-align:left">School of Communication</td>
    <td class="tg-0pky" style="text-align:left">60.7</td>
    <td class="tg-0pky" style="text-align:left">70.2</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">104</td>
    <td class="tg-0pky" style="text-align:left">Female</td>
    <td class="tg-0pky" style="text-align:left">School of Chinese Medicine</td>
    <td class="tg-0pky" style="text-align:left">57.1</td>
    <td class="tg-0pky" style="text-align:left">58.3</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">105</td>
    <td class="tg-0pky" style="text-align:left">Female</td>
    <td class="tg-0pky" style="text-align:left">Faculty of Social Sciences</td>
    <td class="tg-0pky" style="text-align:left">81.4</td>
    <td class="tg-0pky" style="text-align:left">80.4</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">106</td>
    <td class="tg-0pky" style="text-align:left">Male</td>
    <td class="tg-0pky" style="text-align:left">Faculty of Science</td>
    <td class="tg-0pky" style="text-align:left">65.2</td>
    <td class="tg-0pky" style="text-align:left">71.5</td>
  </tr>
  <tr>
    <td class="tg-0pky" style="text-align:left">107</td>
    <td class="tg-0pky" style="text-align:left">Female</td>
    <td class="tg-0pky" style="text-align:left">School of Communication</td>
    <td class="tg-0pky" style="text-align:left">74.3</td>
    <td class="tg-0pky" style="text-align:left"">63.1</td>
  </tr>
</tbody>
</table>

### Answer:

### Question 2 (20%)

In [1]:
library(readxl)
Dataf <-  as.data.frame(read_excel("../../Dataset/exerciseDataset.xlsx"))

What are the variance and the standard deviation of the daily mean temperature of WGL?

### Answer:

### Question 3 (20%)

What are the upper and the lower quartiles of the daily mean temperature of WGL?

### Answer:

### Question 4 (20%)

Plot a line graph for the monthly mean of the daily mean temperature of WGL.

### Answer:

### Question 5 (20%)

Plot a boxplot (with four boxes) of the wind speed of WGL for cardinal directions.

### Answer: